
@media(min-width:992px) and (max-width:1180px){
    .team-member img{
    margin-left: 100px;
    }
    .about-us-content{
        margin-top: 40px;
    }
    .about-content{
        margin-top: 40px;
    }
    .map-responsive{
        padding-bottom: 70%;
    }
}

/*SMALL DEVICES*/
@media(min-width:768px) and (max-width:991px){
    .team-member img{
    margin-left: 60px;
    }
    .about-us-content{
        margin-top: 30px;
    }
    .about-content{
        margin-top: 30px;
    }
    .about-us-image img{
        height: 300px;
    }
    .map-responsive{
        padding-bottom: 90%;
    }
}
/*END OF SMALL DEVICES*/

/*EXTRA SMALL DEVICES*/
@media(max-width:768px){
    .about-content{
        margin-top: 20px;
    }
    .about-us-content{
        margin: 20px 0;
    }
    .about-image{
        margin-top: 10px;
    }
    .right-text{
        text-align: center;
    }
    .left-text{
        text-align: center;
    }
    .team-member img{
    margin-left: 170px;
    }
    .contact-detail{
        margin: 0;
    }
}
/*END OF EXTRA SMALL DEVICES*/